.left-form{
    -fx-background-color:linear-gradient(to bottom right, #0a192f, #457fca);
    -fx-border-width: .4px 0px .4px .4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width: .4px .4px .4px 0px;
}
.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover{
    -fx-background-color: #dd4763;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: 0px 0px .8px 0px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}

.text-field:focused{
    -fx-border-color: linear-gradient(to bottom right, #0a192f, #457fca);
    -fx-border-width: 0px 0px 1.8px 0px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom, #457fca, #0a192f);
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom, #6094d1, #123456);
}